@import "tailwindcss";

.btn {
  border: none;
  padding: 8px 10px;
  transition: background-color 0.1s linear;
  border-radius: 10px;
  cursor: pointer;
}

.btn.btn-primary {
  background-color: #fda5d5;
  color: #000000;
}

.btn.btn-primary:not([disabled]):hover {
  background-color: #f472b6;
}

.btn.btn-primary:disabled {
  background-color: #e2e2e2;
}